* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../Images/pizza_login_cover.jpeg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}
